{% extends "base.html" %}

{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Add Interview Stage{% endblock %}

{% block content %}
<div class="container-mt-5">
    <div class="row justify-content-center my-3">
        <div class="col-lg-10">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">Add Interview Stage for {{ application.company }} - {{ application.position_title }}</h2>
                    <form method="POST" action="{{ url_for('add_interview_stage', application_id=application.id) }}">
                        {{ form.hidden_tag() }}
                        <div class="form-group">
                            {{ form.stage_name.label }}
                            {{ form.stage_name(class="form-control") }}
                        </div>
                        <div class="form-group">
                            {{ form.date.label }}
                            {{ form.date(class="form-control") }}
                        </div>
                        <div class="form-group">
                            {{ form.status.label }}
                            {{ form.status(class="form-control") }}
                        </div>
                        <div class="form-group">
                            {{ form.notes.label }}
                            {{ form.notes(class="form-control") }}
                        </div>
                        {{ form.submit(class="btn btn-primary mt-3") }}
                    </form>
                    </div>
    
{% endblock %}