{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}

<h2 class="mb-4">Your Job Application Dashboard</h2>
<div id="charts" class="row">
    <div class="col-md-4 mb-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Progress Data</h5>
                <!-- Chart for exercise data -->
                <p>Progress of job application data visualisation will be here.</p>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Action Required Data</h5>
                <!-- Chart for meditation data -->
                <p>Prioritisation of outstanding actions will be here.</p>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Overview</h5>
                <!-- Chart for sleep data -->
                <p>Overview of all job applications will be here. You can filter according to your needs.</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}